.spike-header-container {
    width: 100%;
    height: 100%;
    background: rgba(127, 127, 127, 0.5);
    border-radius: 4px;
}

.spike-brands {
    font-size: 35px;
}

.spike-brands > a {
    color: #333;
}

.spike-user {
    font-size: 25px;
    vertical-align: middle;
}

.spike-user > a {
    color: #333;
}

.spike-user .icon-user {
    font-size: 30px;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 50%;
}

.spike-applications ol {
    padding: 20px;
}

.spike-applications ol > li > a {
    height: 44px;
    line-height: 44px;
    font-size: 28px;
    color: #333;
    border-bottom: 4px solid rgba(0, 0, 0, 0.0);
}

.spike-applications ol > li {
    padding: 0 10px;
}

.spike-applications ol > li > a:hover,
.spike-applications ol > li > a.active {
    color: #ccc;
    border-bottom: 4px solid #ccc;
}

@media (min-width: 768px) {
    .spike-brands {
        float: left;
        width: 200px;
        height: 100%;
        padding: 25px 20px;
    }

    .spike-applications {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .spike-user {
        display: inline-block;
        float: right;
        height: 100%;
        padding: 20px 20px;
    }
}

@media (max-width: 767px) {
    .spike-brands {
        display: none;
    }

    .spike-applications {
        float: left;
        width: 100%;
        height: 100%;
        margin-left: -400px;
        padding-left: 400px;
    }

    .spike-user {
        float: right;
        height: 100%;
        width: 200px;
    }
}