<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bolly.spike.mapper.ups.DepartmentMapper">

  <resultMap id="departmentMap" type="department" autoMapping="false">
    <id property="id" column="f_id"/>
    <result property="name" column="f_name"/>
    <result property="level" column="f_level"/>
    <result property="order" column="f_order"/>
    <result property="delete" column="f_delete"/>
    <result property="createAt" column="f_create_at"/>
    <result property="lastEditAt" column="f_last_edit_at"/>
    <association property="parent" columnPrefix="ptd_" javaType="department">
      <id property="id" column="f_id"/>
      <result property="name" column="f_name"/>
    </association>
    <association property="creator" columnPrefix="tcu_" javaType="user">
      <id property="id" column="f_id"/>
      <result property="username" column="f_username"/>
      <result property="nickname" column="f_nickname"/>
    </association>
    <association property="lastEditBy" columnPrefix="teu_" javaType="user">
      <id property="id" column="f_id"/>
      <result property="username" column="f_username"/>
      <result property="nickname" column="f_nickname"/>
    </association>
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="department">
    INSERT INTO sys_department (
      f_name, f_level,
      f_parent_id, f_order,
      f_create_by, f_create_at,
      f_last_edit_by, f_last_edit_at
    ) VALUE (
      #{name}, #{level},
      #{parent.id}, #{order},
      #{creator.id}, sysdate(),
      #{lastEditBy.id}, sysdate()
    )
  </insert>

  <update id="deleteById" parameterType="department">
    UPDATE sys_department
    SET
      f_delete       = 2,
      f_last_edit_by = #{lastEditBy.id},
      f_last_edit_at = sysdate()
    WHERE f_id = #{id}
  </update>

  <update id="update" parameterType="department">
    UPDATE sys_department
    SET
      f_name         = #{name},
      f_level        = #{level},
      f_parent_id    = #{parent.id},
      f_last_edit_by = #{lastEditBy.id},
      f_last_edit_at = sysdate()
    WHERE f_id = #{id}
  </update>

  <sql id="selectAllFields">
    SELECT
      td.f_id,
      td.f_name,
      td.f_level,
      td.f_order,
      td.f_delete,
      td.f_create_at,
      td.f_last_edit_at,
      ptd.f_id       AS ptd_f_id,
      ptd.f_name     AS ptd_f_name,
      tcu.f_id       AS tcu_f_id,
      tcu.f_username AS tcu_f_username,
      tcu.f_nickname AS tcu_f_nickname,
      teu.f_id       AS teu_f_id,
      teu.f_username AS teu_f_username,
      teu.f_nickname AS teu_f_nickname
    FROM sys_department td
      LEFT JOIN sys_department ptd ON ptd.f_id = td.f_parent_id
      LEFT JOIN sys_user tcu ON tcu.f_id = td.f_create_by
      LEFT JOIN sys_user teu ON teu.f_id = td.f_last_edit_by
    WHERE td.f_delete = 1
  </sql>

  <select id="loadById" resultMap="departmentMap" parameterType="long">
    <include refid="selectAllFields"/>
    AND td.f_id = #{id}
  </select>

  <select id="list" resultMap="departmentMap" parameterType="department">
    <include refid="selectAllFields"/>
    <if test="name != null">
      AND td.f_name like CONCAT('%',#{name},'%')
    </if>
    <if test="parent != null and parent.id != null">
      AND td.f_parent_id=#{parent.id}
    </if>
    ORDER BY td.f_parent_id,td.f_order
  </select>

</mapper>