<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bolly.spike.mapper.ups.UserMapper">

  <resultMap type="User" id="userMap" autoMapping="true">
    <id column="f_id" property="id"/>
    <result column="f_username" property="username"/>
    <result column="f_password" property="password"/>
    <result column="f_nickname" property="nickname"/>
    <result column="f_name" property="name"/>
    <result column="f_sex" property="sex"/>
    <result column="f_email" property="email"/>
    <result column="f_birthday" property="birthday" javaType="Date"/>
    <result column="f_hire_date" property="hireDate" javaType="Date"/>
    <result column="f_leave_date" property="leaveDate" javaType="Date"/>
    <result column="f_state" property="state"/>
    <association javaType="Department" property="department" columnPrefix="td_">
      <result column="f_id" property="id"/>
      <result column="f_name" property="name"/>
    </association>
  </resultMap>

  <insert id="insert">
    INSERT INTO t_user (
      f_id, f_username, f_password, f_nickname, f_department_id, f_create_by, f_create_at
    ) VALUES (
      #{id}, #{username}, #{password}, #{nickname}, #{department.id}, #{creator.id}, sysdate()
    )
  </insert>

  <select id="loadUserForLogin" resultMap="userMap" parameterType="java.lang.String">
    SELECT
    tu.f_id,
    tu.f_username,
    tu.f_password,
    tu.f_name,
    tu.f_nickname,
    tu.f_state
    FROM t_user tu
    WHERE tu.f_username = #{username}
  </select>

  <sql id="commonSearch">
    SELECT
      tu.f_username,
      tu.f_name,
      tu.f_nickname,
      tu.f_sex,
      tu.f_email,
      tu.f_birthday,
      tu.f_hire_date,
      tu.f_leave_date,
      tu.f_state,
      tu.f_create_at,
      tu.f_last_edit_at,
      td.f_id   AS td_f_id,
      td.f_name AS td_f_name
    FROM t_user tu
      LEFT JOIN t_department td ON td.f_id = tu.f_department_id
  </sql>

  <select id="loadById" resultMap="userMap" parameterType="java.lang.Long">
    <include refid="commonSearch"/>
    WHERE tu.f_id = #{id}
  </select>

  <select id="loadByUsername" resultMap="userMap" parameterType="java.lang.String">
    <include refid="commonSearch"/>
    WHERE tu.f_username = #{username}
  </select>

  <select id="list" resultMap="userMap">
    <include refid="commonSearch"/>
  </select>

</mapper>